nav{
    overflow: hidden;
    padding: 10px 20px 10px 20px; 
}

a{
    float: left;
    text-decoration: none;
    padding: 0 10px 0 10px;
    color: white;
}

.top-nav-right{
    float: right;
}

i{
    float: right;
    display: none;
}

@media(max-width:600px){
    .top-nav-right{
        display: none;
    }

    .top-nav-right.open{
        display: block;
        width: 80%;
        height: 100px;
        z-index: 2;
        top:50px;
        position: absolute;
        
        background-color: aqua;
        
    }

    .top-nav-right.open a{
        background-color: brown;
        display: flex;
        flex-direction: column;
    }

    .top-nav-right.open a:nth-child(n + 1){
        margin-top: 50px;
    }


    i{
        display: block;
    }

}