.container-fluid{
    background-color: black;
}
#home h3{
    font-size: 55px;
}
#home p{
    font-size: 25px;
}
#home span{
    color: blue;
    font-size: 70px;
}

.card-text{
    max-width: 90ch; 
}