#Home{
    display: flex;
    flex-direction: row-reverse;  
}

#Home img{
    width: 500px;
    height: max-content;
    padding: 20px;
    border-radius: 33rem;
}

#Home .text-header{
    padding: 200px 20px 0 20px;
    width: 100%;
}
#Home .text-header p{
    display: flex;
    justify-content: center;
}

#Home .text-header p:first-child{
    font-size: 3rem;
}
#Home .text-header p:last-child{
    font-size: 2rem;
}

#Home .text-header span{
    color: blue;
}

@media (max-width:768px){
    #Home img{
        width:300px;
    }
    #Home .text-header p:first-child{
        font-size: 2rem;
    }
    #Home .text-header p:last-child{
        font-size: 1.5rem;
    }
    #Home .text-header{
        padding: 150px 20px 0 20px;
        width: 100%;
    }
}

@media (max-width:425px){
    #Home img{
        width:150px;
    }
    #Home .text-header p:first-child{
        font-size: 1.5rem;
    }
    #Home .text-header p:last-child{
        font-size: 1rem;
    }
    #Home .text-header{
        padding: 80px 10px 0 10px;
    }

}

@media (max-width:375px){
    #Home img{
        width:100px;
    }
    #Home .text-header p:first-child{
        font-size: 1.2rem;
    }
    #Home .text-header p:last-child{
        font-size: 0.8rem;
    }
    #Home .text-header{
        padding: 50px 10px 0 10px;
    }

}